<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KangYei Design & Advertising</title>
  <meta content="We customize and design the printing service for you. " name="description">
  <meta content="Printing Design, Company Chop, Packaging, Menu, Book, Flyer, Brochure" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

 
  <!-- Vendor CSS Files -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "icofont.min.css" %> 
  <%= stylesheet_link_tag "boxicons.min.css" %> 
  <%= stylesheet_link_tag "animate.min.css" %>
  <%= stylesheet_link_tag "owl.carousel.min.css" %>
  <%= stylesheet_link_tag "venobox.css" %>
  <%= stylesheet_link_tag "aos.css" %>


  <!-- Template Main CSS File -->
  <%= stylesheet_link_tag "style.css" %>

  <!-- =======================================================
  * Template Name: Maxim - v2.2.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  d-flex justify-content-center align-items-center header-transparent">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a><img src="/assets/logo-1-36fe68a6548204f19c3a44915ccb6e96f3c422cad98604d62443e8487f225ab7.png" class="img-fluid" style="height:70px;" alt=""></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="my-link"><%= link_to "Home", welcome_index_path%></li>
        <li class="my-link"><%= link_to "About", about_index_path%></li>
        <li><a href="#services">Services</a></li>
        <li class="drop-down"><a class="#portfolio">Product</a>
          <ul>
            <li class="my-link"><%= link_to "Box Packaging", packaging_product_index_path%></li>
            <li class="my-link"><%= link_to "Menu & Book", menu_book_product_index_path%></li>
            <li class="my-link"><%= link_to "Flyer", company_product_index_path%></li>
            <li class="my-link"><%= link_to "Company Folder", company_product_index_path%></li>
            <li class="my-link"><%= link_to "Company Chop", company_product_index_path%></li>
            <li class="my-link"><%= link_to "Annual Report", company_product_index_path%></li>
            <li class="my-link"><%= link_to "Booklet", company_product_index_path%></li>
          </ul>
        <li class="my-link"><%= link_to "Contact", contact_us_path%></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style=" background: linear-gradient( rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),  url(/assets/c12000m-840f4dcb17096fbd681d1eb20040329df803b5938b4bda87efb95651f1b78e95.jpg) center no-repeat; background-size: cover; " >
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">PRODUCT LABELLING & BOX PACKAGING PRINTING</h2>
                <h3 class="animate__animated animate__fadeInUp">MANUFACTURER PRICE </h3>
                <h4 class="animate__animated animate__fadeInUp">FAST & LOWEST PRICE</h4>
                <div>
                  <a href="#about" class=" scrollto btn btn-scroll btn-circle" title="Scroll Down"><i class="fa fa-circle-thin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style=" background: linear-gradient( rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),  url(/assets/fontpage2-b37643b1aa2f3da6dbf93d25ce5590907d44f9f5fc72029276cb1ceed60b9e8a.png) center no-repeat; background-size: cover; " >
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">BOX PACKAGING</h2>
                <h3 class="animate__animated animate__fadeInUp">MANUFACTURER PRICE </h3>
                <h4 class="animate__animated animate__fadeInUp">FAST & LOWEST PRICE</h4>
                <div>
                  <a href="#about" class="btn-scroll scrollto btn btn-circle" title="Scroll Down"><i class="fa fa-circle-thin"></i></a>
                </div>
              </div>
            </div>
          </div>

      </div>


        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon fa fa-arrow-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon fa fa-arrow-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <section id="promotion" class="promotion section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Promotion</h2>
          <img src="/assets/promotion-report-f73348228c8b577baf061c0b1ce8757666877158d97779034930f2c5edd0391a.jpg" class="img-fluid" ></a></h1>
        </div>
      </div>
    </section>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-6 col-lg-7" data-aos="fade-right">
            <img src="/assets/9grid-9563b6fee82ef4b589beeff8e88a8feb683afef2a87ae31bf6bdf614257fe426.png" class="img-fluid" alt="">
          </div>
          <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">WELCOME</h3>
            <p data-aos="fade-up">
             We are trusted design and printing service provider in Kepong Malaysia. 
            </p>
            <div class="icon-box" data-aos="fade-up">
              <i class="fa fa-tint"></i>
              <h4>Product Ink</h4>
              <p>Soy / Vegetable Based Inks</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="fa fa-recycle"></i>
              <h4>Product paper</h4>
              <p>Recycled Paper stocks</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="fa fa-tree"></i>
              <h4>Sustainable Green Print</h4>
              <p>Unique combination of quality and environmental responsibility.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="fa fa-heart-o"></i>
              <h4>Our Services </h4>
              <p> Passionate Service</div>
              </p>
            </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p> We provide Sticker, Label, Menu, Books, Magazines, Calendar, Name Card, Box Packaging, Banner and more printing services.</h4></p>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="fa fa-sticky-note-o"></i></div>
              <h4 class="title"><a href="">Sticker & Label </a></h4>
              <p class="description">Product Sticker <br> Interior Sticker <br> Car Sticker <br></p>
              &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
              </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="fa fa-book"></i></div>
              <h4 class="title"><a href="">Menu, Book & Magazines</a></h4>
              <p class="description">Book Series <br> Bill Receipt Series <br> Menu Series <br> Note Series <br> Newspaper Series<br></p>
            &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="fa fa-dropbox"></i></div>
              <h4 class="title"><a href="">  Box Packaging </a></h4>
              <p class="description">All in One Box <br> Cosmetic Makeup <br> Clothing Wear <br> Food Box</p>
            &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="fa fa-calendar"></i></div>
              <h4 class="title"><a href="">Calendar, Name Card, and other printing services</a></h4>
              <p class="description">Wall Calendar <br> Table Calendar <br> Pocket Calendar <br> Standard Business Card <br> Premium Business Card</p>
            &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio ">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Product</h2>
          <p></p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li><%= link_to "Box Packaging", packaging_product_index_path%></li>
              <li><%= link_to "Menu, Book & Magazine", menu_book_product_index_path%></li>
              <li><%= link_to "Company Document", company_product_index_path%></li>
            </ul>
          </div>
        </div>


        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/packaging1-ebfad0c47599d586af5966bf82633a47a456920a8b3a77408740f454314ad6bb.png " class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Food Box</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging1-ebfad0c47599d586af5966bf82633a47a456920a8b3a77408740f454314ad6bb.png " data-gall="portfolioGallery" class="venobox" title="Durian Box 1"><i class="fa fa-plus"></i></a>
                  <a title="More Details"><%= link_to "", packaging_product_index_path, class: "fa fa-link"%></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/menulist2-483b0c8cceee323736981d284337ed8e7dda48614c312bcdb78d1707b1cb169f.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Book</h4>
                <p>Menu & Book</p>
                <div class="portfolio-links">
                  <a href="/assets/menulist2-483b0c8cceee323736981d284337ed8e7dda48614c312bcdb78d1707b1cb169f.png" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="fa fa-plus"></i></a>
                  <a title="More Details"><%= link_to "", menu_book_product_index_path, class: "fa fa-link"%></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/magazine1-41eae61b5a2fd52492c9d45dd77e24eca6979768937ca7aab2b6e836b91a1070.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Magazine</h4>
                <p>Menu & Magazine</p>
                <div class="portfolio-links">
                  <a href="/assets/magazine1-41eae61b5a2fd52492c9d45dd77e24eca6979768937ca7aab2b6e836b91a1070.png" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="fa fa-plus"></i></a>
                  <a title="More Details"><%= link_to "", menu_book_product_index_path, class: "fa fa-link"%></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/annualreport-4473d95f1b9914c0d1f59d7802a097cdfd3d39f9a784e96b2203852b9efdfc4f.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Annual Report</h4>
                <p>Company Document</p>
                <div class="portfolio-links">
                  <a href="/assets/annualreport-4473d95f1b9914c0d1f59d7802a097cdfd3d39f9a784e96b2203852b9efdfc4f.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a title="More Details"><%= link_to "", company_product_index_path, class: "fa fa-link"%></a>
                </div>
              </div>
            </div>
          </div>          

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/banner1-733983e32bd00741794927666a889627537780453ea9afd2157b70782bd655d5.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Banner</h4>
                <p>Company Document</p>
                <div class="portfolio-links">
                  <a href="/assets/banner1-733983e32bd00741794927666a889627537780453ea9afd2157b70782bd655d5.png" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="fa fa-plus"></i></a>
                  <a title="More Details"><%= link_to "", company_product_index_path, class: "fa fa-link"%></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/menulist1-f528df3f9520f690a42da7431422f621a13041bdbb6eddc6309c92613ded1a55.png " class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Food Menu</h4>
                <p>Menu & Book</p>
                <div class="portfolio-links">
                  <a href="/assets/menulist1-f528df3f9520f690a42da7431422f621a13041bdbb6eddc6309c92613ded1a55.png " data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a title="More Details"><%= link_to "", menu_book_product_index_path, class: "fa fa-link"%></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src=" /assets/flyer-fa4f76611107b1d077a108f7647bafc76584a17522e93ef300d48db52d698cb4.png " class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Flyer</h4>
                <p>Company Document</p>
                <div class="portfolio-links">
                  <a href=" /assets/flyer-fa4f76611107b1d077a108f7647bafc76584a17522e93ef300d48db52d698cb4.png " data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a title="More Details"><%= link_to "", company_product_index_path, class: "fa fa-link"%></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/company-folder-3131f557bea77c005779423d2dc86c6a596d35c95d9f082739cd3d2c5f3da3d0.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Company Folder</h4>
                <p>Company Document</p>
                <div class="portfolio-links">
                  <a href="/assets/company-folder-3131f557bea77c005779423d2dc86c6a596d35c95d9f082739cd3d2c5f3da3d0.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a title="More Details"><%= link_to "", company_product_index_path, class: "fa fa-link"%></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/namecard-ea403a87100124f376b92bf4b5a0ee6ef3af65ddf9c6a5f2ad35aa1ee204d5b7.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name Card</h4>
                <p>Company Document</p>
                <div class="portfolio-links">
                  <a href="/assets/namecard-ea403a87100124f376b92bf4b5a0ee6ef3af65ddf9c6a5f2ad35aa1ee204d5b7.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a href="portfolio.html" title="More Details"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/companychop-e85cc39202369e5365f161b757bc70011224bb5808693e2d7dc2d75e5908518f.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Company Chop</h4>
                <p>Company Document</p>
                <div class="portfolio-links">
                  <a href="/assets/companychop-e85cc39202369e5365f161b757bc70011224bb5808693e2d7dc2d75e5908518f.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a href="portfolio.html" title="More Details"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Kindly let's us know your concerned.</p>
        </div>

        <div class="row no-gutters justify-content-center" data-aos="fade-up">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="fa fa-location-arrow"></i>
                <h4>Location:</h4>
                <p>No. 20, kepong, Jalan Metro Perdana Timur 10, Taman Usahawan Kepong, 52100 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur</p>
              </div>

              <div class="email mt-4">
                <i class="fa fa-envelope"></i>
                <h4>Email:</h4>
                <p>kangyeidesign@gmail.com</p>
              </div>

              <div class="phone mt-4">
                <i class="fa fa-phone"></i>
                <h4>Call:</h4>
                <p>+6 016-2051399</p>
              </div>

            </div>

          </div>

          <div class="col-lg-5 d-flex align-items-stretch">
            <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ66sCN0FGzDERdwATrtY_P-c&key=AIzaSyBRW_afzr56mGQf3vbzr2oNWXQ9_4JxGlw" frameborder="0" allowfullscreen></iframe>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>KANG YEI</h3>
              <p>
                No. 20, kepong, <br>
                 Jalan Metro Perdana<br>
                Timur 10, Taman Usahawan<br> 
                Kepong, 52100 Kuala Lumpur,<br>
                Wilayah Persekutuan Kuala Lumpur<br>
                <strong>Phone:</strong> +6 016-2051399<br>
                <strong>Email:</strong> kangyeidesign@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="http://wa.me/60162051399?text=Hi, I have intention to contact you." target="_blank"><i class="fa fa-phone"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Home", welcome_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "About", welcome_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Contact", welcome_index_path%></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Box Packaging",  packaging_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Menu", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Book", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Magazine", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Company Folder", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Flyer", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Company Chop", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Annual Report", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Booklet", menu_book_product_index_path%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy;  Copyright  2020   <strong><span>KANG YEI DESIGN & ADVERTISING</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">TWEB COMMERCE SERVICES</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-down"></i></a>

  <!-- Vendor JS Files -->
  <%= javascript_include_tag "jquery.min.js"%>
  <%= javascript_include_tag "bootstrap.bundle.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "isotope.pkgd.min.js"%>
  <%= javascript_include_tag "venobox.min.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>
  <%= javascript_include_tag "aos.js"%>
  <%= javascript_include_tag "main.js"%>


</body>

</html>