<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KangYei Design & Advertising</title>
  <meta content="We customize and design the printing service for you. " name="description">
  <meta content="Printing Design, Company Chop, Packaging, Menu, Book, Flyer, Brochure" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

 
  <!-- Vendor CSS Files -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "icofont.min.css" %> 
  <%= stylesheet_link_tag "boxicons.min.css" %> 
  <%= stylesheet_link_tag "animate.min.css" %>
  <%= stylesheet_link_tag "owl.carousel.min.css" %>
  <%= stylesheet_link_tag "venobox.css" %>
  <%= stylesheet_link_tag "aos.css" %>


  <!-- Template Main CSS File -->
  <%= stylesheet_link_tag "style.css" %>

  <!-- =======================================================
  * Template Name: Maxim - v2.2.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  d-flex justify-content-center align-items-center header-transparent">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light logo zoom"><a class="my-link" href="/welcome/index"><img src="/assets/logo-2-4b620c95323aeaeb4711ee81d533fc4e4d33b10f89dbb20f78dfe3c083902022.png" class="img-fluid" style="height:70px;" alt=""></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="my-link" style="font-family: Helvetica, Sans-Serif;"><%= link_to "Home", welcome_index_path%></li>
        <li class="my-link"><%= link_to "About", about_index_path%></li>
        <li><a href="#services">Services</a></li>
        <li class="drop-down "><a class="#portfolio">Product</a>
          <ul>
            <li class="my-link"><%= link_to "BUSINESS CARD", company_product_index_path%></li>
            <li class="my-link"><%= link_to "STICKERS", company_product_index_path%></li>
            <li class="my-link"><%= link_to "PACKAGINGS", packaging_product_index_path%></li>
            <li class="my-link"><%= link_to "BOOKLETS", menu_book_product_index_path%></li>
            <li class="my-link"><%= link_to "FLYERS & LEAFLETS", company_product_index_path%></li>
            <li class="my-link"><%= link_to "CORPORATES", company_product_index_path%></li>
            <li class="my-link"><%= link_to "STATIONARIES", company_product_index_path%></li>
            <li class="my-link"><%= link_to "OFFSET PRINTING ", company_product_index_path%></li>
          </ul>
        <li class="my-link"><%= link_to "Contact", contact_us_path%></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style=" background: linear-gradient( rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),  url(/assets/c12000m-840f4dcb17096fbd681d1eb20040329df803b5938b4bda87efb95651f1b78e95.jpg) center no-repeat; background-size: cover; " >
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">PRODUCT LABELLING & BOX PACKAGING PRINTING</h2>
                <h3 class="animate__animated animate__fadeInUp">MANUFACTURER PRICE </h3>
                <h4 class="animate__animated animate__fadeInUp">FAST & LOWEST PRICE</h4>
                <div>
                  <a href="#about" class=" scrollto btn btn-scroll btn-circle" title="Scroll Down"><i class="fa fa-circle-thin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style=" background: linear-gradient( rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),  url(/assets/fontpage2-b37643b1aa2f3da6dbf93d25ce5590907d44f9f5fc72029276cb1ceed60b9e8a.png) center no-repeat; background-size: cover; " >
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">BOX PACKAGING</h2>
                <h3 class="animate__animated animate__fadeInUp">MANUFACTURER PRICE </h3>
                <h4 class="animate__animated animate__fadeInUp">FAST & LOWEST PRICE</h4>
                <div>
                  <a href="#about" class="btn-scroll scrollto btn btn-circle" title="Scroll Down"><i class="fa fa-circle-thin"></i></a>
                </div>
              </div>
            </div>
          </div>

      </div>


        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon fa fa-arrow-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon fa fa-arrow-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <section id="promotion" class="promotion section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Promotion</h2>
          <img src="/assets/promotion-report-f73348228c8b577baf061c0b1ce8757666877158d97779034930f2c5edd0391a.jpg" class="img-fluid" ></a></h1>
        </div>
      </div>
    </section>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row section-title">
          <div class="col-xl-12 col-lg-12 pt-5 pt-lg-0 ">
            <h3 data-aos="fade-up">HELLO</h3>
            <p data-aos="fade-up">
             We are trusted design and printing service provider in Kepong Malaysia. 
            </p>
          </div>
          <div class="col-xl-3 col-lg-3 pt-5 pt-lg-0">
            <div class="icon-box" data-aos="fade-up">
              <i class="fa fa-tint"></i>
              <h4>Product Ink</h4>
              <p>Soy / Vegetable Based Inks</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 pt-5 pt-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="fa fa-recycle"></i>
              <h4>Product paper</h4>
              <p>Recycled Paper stocks</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 pt-5 pt-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="fa fa-tree"></i>
              <h4>Sustainable Green Print</h4>
              <p>Unique combination of quality and environmental responsibility.</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 pt-5 pt-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="fa fa-heart-o"></i>
              <h4>Our Services </h4>
              <p> Passionate Service</div>
              </p>
            </div>
          </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="" data-aos="fade-up">
          <h2> FEATURED PRODUCTS</h2>
          <p></p>
        </div>
        <div class=" row container text-center text-md-left " data-aos="fade-up" >
        <div class = "row text-center" style="">
          <div class="col-xs-6 text-center" style="background-color:none; margin-top:10px; margin-left:10px;">
              <div class='product-holder inner'>
                 <a class="my-link" href="/product/menu_book">
                  <img src="/assets/book_print-1b50ab1464219e3cbb59c619dcf6245717ae68e5adf13f90785aeeb651869067.png" width="250" height="500" class='product-image resize-product '>
                  <img src="/assets/book-a651e8a4a7e54f23943eae83c7a04271d38c0b25a846e1f55e4781c9b0a8e9b5.png"  width="400" height="100" class=' plus-book'>
                </a>
              </div>
          </div>
          <div class="col-xs-6 text-center" style="background-color:none; margin-top:10px; margin-left:10px;" >
              <div class='product-holder inner'>
                <a class="my-link"  href="/product/company">
                  <img src="/assets/sticker-0a9b16db723c05af163d1eb9414407e0748d652269133f9a8a6a0649bb10e0ed.png" width="250" height="300" class='product-image resize-product'>
                  <img src="/assets/foil_sticker-2379f15fe042f5ca687d96e976cde5f55394c4faea6c847299d70552df60d8e9.png"  width="100" height="100" class='plus-sticker1'>
                  <img src="/assets/transparent_sticker-f0c2b0747f2bdd19c46beb525be129973596593b17856ecfa1ad4c6e5e0301e5.png"   width="180" height="140" class='plus-sticker2'>
                </a>
              </div>
          </div>
          <div class="col-xs-6 text-center" style="background-color:none; margin-top:10px; margin-left:10px; ">
              <div class='product-holder inner'>
                <a class="my-link"  href="/product/company">
                  <img src="/assets/corporate-990a29931b166b0aa22f42d190b61cc3424aaf9f693476cb812892642cd2c03c.png" width="580" height="150" class='product-image resize-landscape'>
                  <img src="/assets/corporate_folder-6d89a59bf2b1941a020d379bb0599f102deb45a25408bab82a0185f5a0e34271.png"  width="240" height="190" class='plus-folder '> 
                  <img src="/assets/corporate_voucher-8fa6dce179619a9c693a93b5e3a1a5db88a4d4ca46a79835f85b25824c882afa.png"  width="250" height="180" class='plus-voucher'>
                  
                </a>
              </div>
              <div class='product-holder inner' style="margin-top:10px; margin-right:280px;">
                <a class="my-link" href="/product/company">
                  <img src="/assets/card1-a933350dc87a4d7bfdc01aa972e3fd6b16532f80d23713ed1c59668d1c8d2563.png" width="300" height="150" class='product-image'>
                  <img src="/assets/card-98d5250c9684033d1f7913b946e2422806edda0efc9c201004e801f78ec16d92.png"  width="280" height="130" class='plus-card'>
                </a>
              </div>
               <div class='product-holder inner' style="margin-top:10px; ">
                <a class="my-link" href="/product/packaging">
                  <img src="/assets/packaging-4d75b186fa05c67fd1dcf0bdb3ad47afc2b5592d0b46b7cf06b3cf5344cedf82.png"  width="580" height="240" class='product-image resize-landscape'>
                  <img src="/assets/box1-7ce3abe29181bc64ba43a78c312278dd4d5981856784ea3f822be00491ecebc1.png" width="350" style="margin-bottom:500px;" height="300" class='plus-packaging'>
                </a>
              </div>
              <br><br><br>
          </div>
      </div>

    
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p> We provide Sticker, Label, Menu, Books, Magazines, Calendar, Name Card, Box Packaging, Banner and more printing services.</h4></p>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="fa fa-sticky-note-o"></i></div>
              <h4 class="title"><a href="">Sticker & Label </a></h4>
              <p class="description">Product Sticker <br> Interior Sticker <br> Car Sticker <br></p>
              &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
              </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="fa fa-book"></i></div>
              <h4 class="title"><a href="">Menu, Book & Magazines</a></h4>
              <p class="description">Book Series <br> Bill Receipt Series <br> Menu Series <br> Note Series <br> Newspaper Series<br></p>
            &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="fa fa-dropbox"></i></div>
              <h4 class="title"><a href="">  Box Packaging </a></h4>
              <p class="description">All in One Box <br> Cosmetic Makeup <br> Clothing Wear <br> Food Box</p>
            &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="fa fa-calendar"></i></div>
              <h4 class="title"><a href="">Calendar, Name Card, and other printing services</a></h4>
              <p class="description">Wall Calendar <br> Table Calendar <br> Pocket Calendar <br> Standard Business Card <br> Premium Business Card</p>
            &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Kindly let's us know your concerned.</p>
        </div>

        <div class="row no-gutters justify-content-center" data-aos="fade-up">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="fa fa-location-arrow"></i>
                <h4>Location:</h4>
                <p>No. 20, kepong, Jalan Metro Perdana Timur 10, Taman Usahawan Kepong, 52100 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur</p>
              </div>

              <div class="email mt-4">
                <i class="fa fa-envelope"></i>
                <h4>Email:</h4>
                <p>kangyeidesign@gmail.com</p>
              </div>

              <div class="phone mt-4">
                <i class="fa fa-phone"></i>
                <h4>Call:</h4>
                <p>+6 016-2051399</p>
              </div>

            </div>

          </div>

          <div class="col-lg-5 d-flex align-items-stretch">
            <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ66sCN0FGzDERdwATrtY_P-c&key=AIzaSyBRW_afzr56mGQf3vbzr2oNWXQ9_4JxGlw" frameborder="0" allowfullscreen></iframe>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>KANG YEI</h3>
              <p>
                No. 20, kepong, <br>
                 Jalan Metro Perdana<br>
                Timur 10, Taman Usahawan<br> 
                Kepong, 52100 Kuala Lumpur,<br>
                Wilayah Persekutuan Kuala Lumpur<br>
                <strong>Phone:</strong> +6 016-2051399<br>
                <strong>Email:</strong> kangyeidesign@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="tel:60162051399" ><i class="fa fa-phone"></i></a>
                 <a href="http://wa.me/60162051399?text=Hi, I have intention to contact you." target="_blank" class="whatapps"><i class="fa fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/KangYei-Design-100160645238470" target="_blank"  class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Home", welcome_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "About", about_index_path, class: "my-link" %></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Contact", contact_us_path, class: "my-link"%></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Products</h4>
            <ul>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "BUSINESS CARD",  company_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "STICKERS", menu_book_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "PACKAGINGS", menu_book_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "BOOKLETS", menu_book_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "FLYERS & LEAFLETS", company_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "CORPORATES", company_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "STATIONARIES", company_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "OFFSET PRINTING", company_product_index_path, class: "my-link"%></li>
            </ul>
          </div>

    <div class="col-lg-3 col-md-6 footer-links">
        <h3 style="color:grey;">ASK US</h3>
        <h5 style="font-weight: 100;">Get the answers to your questions today!</h5>
          <form class="gform pure-form pure-form-stacked" method="POST" data-email="example@email.net"
          action="https://script.google.com/macros/s/AKfycbxHzWZX4Oi1EfMJ9b-TcA15QUlqXoZTEDkLPdxMQ-7VilV9GrGCaQR2lPnbSCcBHvSb/exec">
            <!-- change the form action to your script url -->

            <div class="form-elements form-row align-items-center">
              <fieldset class="pure-group">
                <label class="sr-only" for="email">Email</label>
                <input type="email" class="form-control mb-2" id="email" placeholder="Enter Your Email" name="email" required>
                <span class="email-invalid" style="display:none">
                  Must be a valid email address</span>
                  
                <label class="sr-only" for="message">Message: </label>
                <textarea type="message" class="form-control mb-2" id="message" placeholder="Write To Us..... " name="message" required></textarea>  
              </fieldset>

              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
              </div>
            </div>

            <!-- Customise the Thankyou Message People See when they submit the form: -->
            <div class="thankyou_message" style="display:none;">
              <h4><em>Thanks</em> for contacting us!<br>
                We will get back to you soon!</h4>
            </div>

          </form>
        </div>

        </div>
      </div>
    </div>

  <!-- Submit the Form to Google Using "AJAX" -->
  <script data-cfasync="false" type="text/javascript"
  src="form-submission-handler.js"></script>
<!-- END -->
    <div class="container">
      <div class="copyright">
        &copy;  Copyright  2020   <strong><span>KANG YEI DESIGN & ADVERTISING</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
        Designed by <a>TWEB COMMERCE SERVICES</a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <script async src="https://www.googletagmanager.com/gtag/js?id=G-G3S1NZXP4H"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-G3S1NZXP4H');
  </script>

   <a href="https://wa.link/4b5i7a"class="back-to-facebook"><img src="/assets/whatapps-e4195645ad2663b61cabc73757cc178e34e5884fb6022a5bd1b936945b18aeb7.png" width="55"></a>
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>



  <!-- Vendor JS Files -->
  <%= javascript_include_tag "jquery.min.js"%>
  <%= javascript_include_tag "bootstrap.bundle.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "form-submission-handler.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "isotope.pkgd.min.js"%>
  <%= javascript_include_tag "venobox.min.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>
  <%= javascript_include_tag "aos.js"%>
  <%= javascript_include_tag "main.js"%>


</body>

</html>