
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

 <title>KangYei Design & Advertising</title>
  <meta content="We customize and design the printing service for you. " name="description">
  <meta content="Printing Design, Company Chop, Packaging, Menu, Book, Flyer, Brochure" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

 
  <!-- Vendor CSS Files -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "icofont.min.css" %> 
  <%= stylesheet_link_tag "boxicons.min.css" %> 
  <%= stylesheet_link_tag "animate.min.css" %>
  <%= stylesheet_link_tag "owl.carousel.min.css" %>
  <%= stylesheet_link_tag "venobox.css" %>
  <%= stylesheet_link_tag "aos.css" %>


  <!-- Template Main CSS File -->
  <%= stylesheet_link_tag "style.css" %>

  <!-- =======================================================
  * Template Name: Maxim - v2.2.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  d-flex justify-content-center align-items-center header-transparent">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light logo zoom"><a class="my-link" href="/welcome/index"><img src="/assets/logo-2-4b620c95323aeaeb4711ee81d533fc4e4d33b10f89dbb20f78dfe3c083902022.png" class="img-fluid" style="height:70px;" alt=""></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="my-link" style="font-family: Helvetica, Sans-Serif;"><%= link_to "Home", welcome_index_path%></li>
        <li class="my-link"><%= link_to "About", about_index_path%></li>
        <li><a href="#services">Services</a></li>
        <li class="drop-down "><a class="#portfolio">Product</a>
          <ul>
            <li class="my-link"><%= link_to "BUSINESS CARD", company_product_index_path%></li>
            <li class="my-link"><%= link_to "STICKERS", company_product_index_path%></li>
            <li class="my-link"><%= link_to "PACKAGINGS", packaging_product_index_path%></li>
            <li class="my-link"><%= link_to "BOOKLETS", menu_book_product_index_path%></li>
            <li class="my-link"><%= link_to "FLYERS & LEAFLETS", company_product_index_path%></li>
            <li class="my-link"><%= link_to "CORPORATES", company_product_index_path%></li>
            <li class="my-link"><%= link_to "STATIONARIES", company_product_index_path%></li>
            <li class="my-link"><%= link_to "OFFSET PRINTING ", company_product_index_path%></li>
          </ul>
        <li class="my-link"><%= link_to "Contact", contact_us_path%></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>

  </header><!-- End Header -->



   <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" style=" background: linear-gradient( rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),  url(/assets/datalog-df72bed9eb5654d4f3eb2daa93676a38db0e2ea2b474dcad360ac3a12654989c.jpg)  no-repeat; background-size: cover; " >> 
    <div class="container text-center text-md-left" data-aos="fade-up" >
      <h1>Company Document</h1>
      <h2>We design and build for your company document.</h2>
    </div>
  </section><!-- End Hero -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio ">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2></h2>
          <p></p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/annualreport-4473d95f1b9914c0d1f59d7802a097cdfd3d39f9a784e96b2203852b9efdfc4f.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Annual Report</h4>
                <p>Company Document</p>
                <div class="portfolio-links">
                  <a href="/assets/annualreport-4473d95f1b9914c0d1f59d7802a097cdfd3d39f9a784e96b2203852b9efdfc4f.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your company document." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>          

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/banner1-733983e32bd00741794927666a889627537780453ea9afd2157b70782bd655d5.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Banner</h4>
                <p>Company Document</p>
                <div class="portfolio-links">
                  <a href="/assets/banner1-733983e32bd00741794927666a889627537780453ea9afd2157b70782bd655d5.png" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your company document." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src=" /assets/flyer-fa4f76611107b1d077a108f7647bafc76584a17522e93ef300d48db52d698cb4.png " class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Flyer</h4>
                <p>Company Document</p>
                <div class="portfolio-links">
                  <a href=" /assets/flyer-fa4f76611107b1d077a108f7647bafc76584a17522e93ef300d48db52d698cb4.png " data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your company document." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/company-folder-3131f557bea77c005779423d2dc86c6a596d35c95d9f082739cd3d2c5f3da3d0.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Company Folder</h4>
                <p>Company Document</p>
                <div class="portfolio-links">
                  <a href="/assets/company-folder-3131f557bea77c005779423d2dc86c6a596d35c95d9f082739cd3d2c5f3da3d0.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your company document." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/flyer2-2c284f6cc6cb3a120f2ca2fd5019470899dc3d69034a32bfd8d8847be5316ef1.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Company Folder</h4>
                <p>Company Document</p>
                <div class="portfolio-links">
                  <a href="/assets/flyer2-2c284f6cc6cb3a120f2ca2fd5019470899dc3d69034a32bfd8d8847be5316ef1.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your company document." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/namecard-ea403a87100124f376b92bf4b5a0ee6ef3af65ddf9c6a5f2ad35aa1ee204d5b7.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Name Card</h4>
                <p>Company Document</p>
                <div class="portfolio-links">
                  <a href="/assets/namecard-ea403a87100124f376b92bf4b5a0ee6ef3af65ddf9c6a5f2ad35aa1ee204d5b7.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your company document." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/companychop-e85cc39202369e5365f161b757bc70011224bb5808693e2d7dc2d75e5908518f.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Company Chop</h4>
                <p>Company Document</p>
                <div class="portfolio-links">
                  <a href="/assets/companychop-e85cc39202369e5365f161b757bc70011224bb5808693e2d7dc2d75e5908518f.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your company document." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>KANG YEI</h3>
              <p>
                No. 20, kepong, <br>
                 Jalan Metro Perdana<br>
                Timur 10, Taman Usahawan<br> 
                Kepong, 52100 Kuala Lumpur,<br>
                Wilayah Persekutuan Kuala Lumpur<br>
                <strong>Phone:</strong> +6 016-2051399<br>
                <strong>Email:</strong> kangyeidesign@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="tel:60162051399" ><i class="fa fa-phone"></i></a>
                 <a href="http://wa.me/60162051399?text=Hi, I have intention to contact you." target="_blank" class="whatapps"><i class="fa fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/KangYei-Design-100160645238470" target="_blank"  class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Home", welcome_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "About", about_index_path, class: "my-link" %></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Contact", contact_us_path, class: "my-link"%></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Products</h4>
            <ul>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "BUSINESS CARD",  company_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "STICKERS", menu_book_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "PACKAGINGS", menu_book_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "BOOKLETS", menu_book_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "FLYERS & LEAFLETS", company_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "CORPORATES", company_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "STATIONARIES", company_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "OFFSET PRINTING", company_product_index_path, class: "my-link"%></li>
            </ul>
          </div>

    <div class="col-lg-3 col-md-6 footer-links">
        <h3 style="color:grey;">ASK US</h3>
        <h5 style="font-weight: 100;">Get the answers to your questions today!</h5>
          <form class="gform pure-form pure-form-stacked" method="POST" data-email="example@email.net"
          action="https://script.google.com/macros/s/AKfycbxHzWZX4Oi1EfMJ9b-TcA15QUlqXoZTEDkLPdxMQ-7VilV9GrGCaQR2lPnbSCcBHvSb/exec">
            <!-- change the form action to your script url -->

            <div class="form-elements form-row align-items-center">
              <fieldset class="pure-group">
                <label class="sr-only" for="email">Email</label>
                <input type="email" class="form-control mb-2" id="email" placeholder="Enter Your Email" name="email" required>
                <span class="email-invalid" style="display:none">
                  Must be a valid email address</span>
                  
                <label class="sr-only" for="message">Message: </label>
                <textarea type="message" class="form-control mb-2" id="message" placeholder="Write To Us..... " name="message" required></textarea>  
              </fieldset>

              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
              </div>
            </div>

            <!-- Customise the Thankyou Message People See when they submit the form: -->
            <div class="thankyou_message" style="display:none;">
              <h4><em>Thanks</em> for contacting us!<br>
                We will get back to you soon!</h4>
            </div>

          </form>
        </div>

        </div>
      </div>
    </div>

  <!-- Submit the Form to Google Using "AJAX" -->
  <script data-cfasync="false" type="text/javascript"
  src="form-submission-handler.js"></script>
<!-- END -->
    <div class="container">
      <div class="copyright">
        &copy;  Copyright  2020   <strong><span>KANG YEI DESIGN & ADVERTISING</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
        Designed by <a>TWEB COMMERCE SERVICES</a>
      </div>
    </div>
  </footer><!-- End Footer -->


   <a href="https://wa.link/4b5i7a"class="back-to-facebook"><img src="/assets/whatapps-e4195645ad2663b61cabc73757cc178e34e5884fb6022a5bd1b936945b18aeb7.png" width="55"></a>
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>



  <!-- Vendor JS Files -->
  <%= javascript_include_tag "jquery.min.js"%>
  <%= javascript_include_tag "bootstrap.bundle.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "form-submission-handler.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "isotope.pkgd.min.js"%>
  <%= javascript_include_tag "venobox.min.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>
  <%= javascript_include_tag "aos.js"%>
  <%= javascript_include_tag "main.js"%>

</body>

</html>

