
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Delicious Bootstrap Template - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

 
  <!-- Vendor CSS Files -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "icofont.min.css" %> 
  <%= stylesheet_link_tag "boxicons.min.css" %> 
  <%= stylesheet_link_tag "animate.min.css" %>
  <%= stylesheet_link_tag "owl.carousel.min.css" %>
  <%= stylesheet_link_tag "venobox.css" %>
  <%= stylesheet_link_tag "aos.css" %>


  <!-- Template Main CSS File -->
  <%= stylesheet_link_tag "style.css" %>

  <!-- =======================================================
  * Template Name: Maxim - v2.2.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  d-flex justify-content-center align-items-center header-transparent">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light logo zoom"><a class="my-link" href="/welcome/index"><img src="/assets/logo-2-4b620c95323aeaeb4711ee81d533fc4e4d33b10f89dbb20f78dfe3c083902022.png" class="img-fluid" style="height:70px;" alt=""></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="my-link"><%= link_to "Home", welcome_index_path%></li>
        <li class="my-link"><%= link_to "About", about_index_path%></li>
        <li class="my-link"><a href="#services">Services</a></li>
        <li class="drop-down"><a class="#portfolio">Product</a>
          <ul>
            <li class="my-link"><%= link_to "Box Packaging", packaging_product_index_path%></li>
            <li class="my-link"><%= link_to "Menu & Book", menu_book_product_index_path%></li>
            <li class="my-link"><%= link_to "Flyer", company_product_index_path%></li>
            <li class="my-link"><%= link_to "Company Folder", company_product_index_path%></li>
            <li class="my-link"><%= link_to "Company Chop", company_product_index_path%></li>
            <li class="my-link"><%= link_to "Annual Report", company_product_index_path%></li>
            <li class="my-link"><%= link_to "Booklet", company_product_index_path%></li>
          </ul>
        <li class="my-link"><%= link_to "Contact", contact_us_path%></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>

  </header><!-- End Header -->


   <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" style=" background: linear-gradient( rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),  url(/assets/fontpage-d6f93965d9c77a4940570c60bdc0f499a829a679f5c1de7005dd51b05eebf320.jpg)  no-repeat; background-size: cover; " >> 
    <div class="container text-center text-md-left" data-aos="fade-up" >
      <h1>Welcome to Maxim</h1>
      <h2>We are team of talanted designers making websites with Bootstrap</h2>
    </div>
  </section><!-- End Hero -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio ">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2></h2>
          <p></p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src=" /assets/packaging1-fd74e066974f16195f6e021fac822c54257dea66142c67e0f11b806d8fd3dd16.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Food Box</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging1-fd74e066974f16195f6e021fac822c54257dea66142c67e0f11b806d8fd3dd16.png" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="fa fa-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/packaging2-b2ce19dc8f1f7f9e0d936309315eeb7a367ca2adfefbcd624c9dcfb61341ae21.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Food Box</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging2-b2ce19dc8f1f7f9e0d936309315eeb7a367ca2adfefbcd624c9dcfb61341ae21.png" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="fa fa-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/packaging3-fe6b0892003d8228325ba5e3a3a47553138e510d3f24db926214df307ac75e73.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product Box</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging3-fe6b0892003d8228325ba5e3a3a47553138e510d3f24db926214df307ac75e73.png" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="fa fa-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/menulist2-483b0c8cceee323736981d284337ed8e7dda48614c312bcdb78d1707b1cb169f.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Book</h4>
                <p>Menu & Book</p>
                <div class="portfolio-links">
                  <a href="/assets/menulist2-483b0c8cceee323736981d284337ed8e7dda48614c312bcdb78d1707b1cb169f.png" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="fa fa-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/menulist3-03930599f7f6d60842ce8a267f7e4ee6e47cd1892d0da5d2c621ead3bb5613bd.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Food Menu</h4>
                <p>Menu & Book</p>
                <div class="portfolio-links">
                  <a href="/assets/menulist3-03930599f7f6d60842ce8a267f7e4ee6e47cd1892d0da5d2c621ead3bb5613bd.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>          


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/menulist1-f528df3f9520f690a42da7431422f621a13041bdbb6eddc6309c92613ded1a55.png " class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Food Menu</h4>
                <p>Menu & Book</p>
                <div class="portfolio-links">
                  <a href="/assets/menulist1-f528df3f9520f690a42da7431422f621a13041bdbb6eddc6309c92613ded1a55.png " data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="fa fa-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="fa fa-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="fa fa-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

      <!-- Vendor JS Files -->
  <%= javascript_include_tag "jquery.min.js"%>
  <%= javascript_include_tag "bootstrap.bundle.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "isotope.pkgd.min.js"%>
  <%= javascript_include_tag "venobox.min.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>
  <%= javascript_include_tag "aos.js"%>
  <%= javascript_include_tag "main.js"%>

</body>

</html>

