
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

 <title>KangYei Design & Advertising</title>
  <meta content="We customize and design the printing service for you. " name="description">
  <meta content="Printing Design, Company Chop, Packaging, Menu, Book, Flyer, Brochure" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

 
  <!-- Vendor CSS Files -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "icofont.min.css" %> 
  <%= stylesheet_link_tag "boxicons.min.css" %> 
  <%= stylesheet_link_tag "animate.min.css" %>
  <%= stylesheet_link_tag "owl.carousel.min.css" %>
  <%= stylesheet_link_tag "venobox.css" %>
  <%= stylesheet_link_tag "aos.css" %>


  <!-- Template Main CSS File -->
  <%= stylesheet_link_tag "style.css" %>

  <!-- =======================================================
  * Template Name: Maxim - v2.2.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  d-flex justify-content-center align-items-center header-transparent">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a><img src="/assets/logo-1-36fe68a6548204f19c3a44915ccb6e96f3c422cad98604d62443e8487f225ab7.png" class="img-fluid" style="height:70px;" alt=""></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="my-link"><%= link_to "Home", welcome_index_path%></li>
        <li class="my-link"><%= link_to "About", about_index_path%></li>
        <li class="drop-down"><a class="#portfolio">Product</a>
          <ul>
            <li class="my-link"><%= link_to "Box Packaging", packaging_product_index_path%></li>
            <li class="my-link"><%= link_to "Menu & Book", menu_book_product_index_path%></li>
            <li class="my-link"><%= link_to "Flyer", company_product_index_path%></li>
            <li class="my-link"><%= link_to "Company Folder", company_product_index_path%></li>
            <li class="my-link"><%= link_to "Company Chop", company_product_index_path%></li>
            <li class="my-link"><%= link_to "Annual Report", company_product_index_path%></li>
            <li class="my-link"><%= link_to "Booklet", company_product_index_path%></li>
          </ul>
        <li class="my-link"><%= link_to "Contact", contact_us_path%></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>

  </header><!-- End Header -->



   <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" style=" background: linear-gradient( rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),  url(/assets/fontmenu-004905ea584156dfc68e805980cc665e26cb918c45ccf258a5cfedcddd1ec829.jpg)  no-repeat; background-size: cover; " >
    <div class="container text-center text-md-left" data-aos="fade-up" >
      <h1>Our Menu & Book </h1>
      <h2>We design and build for your menu & book.</h2>
    </div>
  </section><!-- End Hero -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio ">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2></h2>
          <p></p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src=" /assets/amenu1-03930599f7f6d60842ce8a267f7e4ee6e47cd1892d0da5d2c621ead3bb5613bd.png " class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Food Menu</h4>
                <p>Menu</p>
                <div class="portfolio-links">
                  <a href="/assets/amenu1-03930599f7f6d60842ce8a267f7e4ee6e47cd1892d0da5d2c621ead3bb5613bd.png " data-gall="portfolioGallery" class="venobox" title="Food Menu 1"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your menu & book production." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/amenu2-eb60f0b07a4e4b5ad627180c745ace98117a6e0766c5109a871cdb132293f969.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Food Menu</h4>
                <p>Menu</p>
                <div class="portfolio-links">
                  <a href="/assets/amenu2-eb60f0b07a4e4b5ad627180c745ace98117a6e0766c5109a871cdb132293f969.png" data-gall="portfolioGallery" class="venobox" title="Food Menu 2"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your menu & book production." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/amenu3-f528df3f9520f690a42da7431422f621a13041bdbb6eddc6309c92613ded1a55.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Food Menu</h4>
                <p>Menu</p>
                <div class="portfolio-links">
                  <a href="/assets/amenu3-f528df3f9520f690a42da7431422f621a13041bdbb6eddc6309c92613ded1a55.png" data-gall="portfolioGallery" class="venobox" title="Food Menu 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your menu & book production." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/amenu4-05b39e0ef7b2247903b0f31bae6eea94f56e1b9bfc429cf6aec3047032b6e1dd.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Book</h4>
                <p>Menu & Book</p>
                <div class="portfolio-links">
                  <a href="/assets/amenu4-05b39e0ef7b2247903b0f31bae6eea94f56e1b9bfc429cf6aec3047032b6e1dd.png" data-gall="portfolioGallery" class="venobox" title="Book 1"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your menu & book production." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/amenu5-97d2d6512169960c4db620db4d3dcf5523bec0a376c2e1d1cd733fdc7515c16f.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Book</h4>
                <p>Menu & Book</p>
                <div class="portfolio-links">
                  <a href="/assets/amenu5-97d2d6512169960c4db620db4d3dcf5523bec0a376c2e1d1cd733fdc7515c16f.png" data-gall="portfolioGallery" class="venobox" title="Book 2"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your menu & book production." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>          


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/amenu6-483b0c8cceee323736981d284337ed8e7dda48614c312bcdb78d1707b1cb169f.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Book</h4>
                <p>Menu & Book</p>
                <div class="portfolio-links">
                  <a href="/assets/amenu6-483b0c8cceee323736981d284337ed8e7dda48614c312bcdb78d1707b1cb169f.png" data-gall="portfolioGallery" class="venobox" title="Book 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your menu & book production." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>

   
        </div>

      </div>
    </section><!-- End Portfolio Section -->


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>KANG YEI</h3>
              <p>
                No. 20, kepong, <br>
                 Jalan Metro Perdana<br>
                Timur 10, Taman Usahawan<br> 
                Kepong, 52100 Kuala Lumpur,<br>
                Wilayah Persekutuan Kuala Lumpur<br>
                <strong>Phone:</strong> +6 016-2051399<br>
                <strong>Email:</strong> kangyeidesign@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="http://wa.me/60162051399?text=Hi, I have intention to contact you." target="_blank"><i class="fa fa-phone"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Home", welcome_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "About", welcome_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Contact", welcome_index_path%></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Box Packaging",  packaging_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Menu", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Book", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Magazine", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Company Folder", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Flyer", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Company Chop", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Annual Report", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Booklet", menu_book_product_index_path%></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy;  Copyright  2020   <strong><span>KANG YEI DESIGN & ADVERTISING</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">TWEB COMMERCE SERVICES</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-down"></i></a>
   

      <!-- Vendor JS Files -->
  <%= javascript_include_tag "jquery.min.js"%>
  <%= javascript_include_tag "bootstrap.bundle.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "isotope.pkgd.min.js"%>
  <%= javascript_include_tag "venobox.min.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>
  <%= javascript_include_tag "aos.js"%>
  <%= javascript_include_tag "main.js"%>

</body>

</html>

