
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KangYei Design & Advertising</title>
  <meta content="We customize and design the printing service for you. " name="description">
  <meta content="Printing Design, Company Chop, Packaging, Menu, Book, Flyer, Brochure" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

 
  <!-- Vendor CSS Files -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "icofont.min.css" %> 
  <%= stylesheet_link_tag "boxicons.min.css" %> 
  <%= stylesheet_link_tag "animate.min.css" %>
  <%= stylesheet_link_tag "owl.carousel.min.css" %>
  <%= stylesheet_link_tag "venobox.css" %>
  <%= stylesheet_link_tag "aos.css" %>


  <!-- Template Main CSS File -->
  <%= stylesheet_link_tag "style.css" %>

  <!-- =======================================================
  * Template Name: Maxim - v2.2.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  d-flex justify-content-center align-items-center header-transparent">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light logo zoom"><a class="my-link" href="/welcome/index"><img src="/assets/logo-2-4b620c95323aeaeb4711ee81d533fc4e4d33b10f89dbb20f78dfe3c083902022.png" class="img-fluid" style="height:70px;" alt=""></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="my-link" style="font-family: Helvetica, Sans-Serif;"><%= link_to "Home", welcome_index_path%></li>
        <li class="my-link"><%= link_to "About", about_index_path%></li>
        <li><a href="#services">Services</a></li>
        <li class="drop-down "><a class="#portfolio">Product</a>
          <ul>
            <li class="my-link"><%= link_to "BUSINESS CARD", company_product_index_path%></li>
            <li class="my-link"><%= link_to "STICKERS", company_product_index_path%></li>
            <li class="my-link"><%= link_to "PACKAGINGS", packaging_product_index_path%></li>
            <li class="my-link"><%= link_to "BOOKLETS", menu_book_product_index_path%></li>
            <li class="my-link"><%= link_to "FLYERS & LEAFLETS", company_product_index_path%></li>
            <li class="my-link"><%= link_to "CORPORATES", company_product_index_path%></li>
            <li class="my-link"><%= link_to "STATIONARIES", company_product_index_path%></li>
            <li class="my-link"><%= link_to "OFFSET PRINTING ", company_product_index_path%></li>
          </ul>
        <li class="my-link"><%= link_to "Contact", contact_us_path%></li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>

  </header><!-- End Header -->



   <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center"  style=" background: linear-gradient( rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),  url(/assets/artboard-8c8695ccd935697a3553b72143eca974c40d2e318615c34e2390c06a49b2a137.png
)  center no-repeat; background-size: cover;  " >
    <div class=" row container text-center text-md-left " data-aos="fade-up" >
      <div class="col-6">
      <img src="/assets/box1-7ce3abe29181bc64ba43a78c312278dd4d5981856784ea3f822be00491ecebc1.png" class="img-fluid" width="600" alt="Responsive image">
    </div>
    <div class="col-6" style="padding: 10px; margin: auto; width: 60%;">
      <h1>Box <br> Packaging</h1>
      <h3 style="font-weight: 500; font-weight: bold;">Product Packaging Is a Marketing Tool</h3>
      <h3 class="smaller" style="font-weight: 100; ">Here at Kang Yei Design, we specialize in producing custom packaging that fits your brand’s needs
to help attract the right audiences.</h3>  
    </div>
    </div>
  </section><!-- End Hero -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio ">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2></h2>
          <p></p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/packaging1-ebfad0c47599d586af5966bf82633a47a456920a8b3a77408740f454314ad6bb.png " class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Food Box</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging1-ebfad0c47599d586af5966bf82633a47a456920a8b3a77408740f454314ad6bb.png " data-gall="portfolioGallery" class="venobox" title="Durian Box 1"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
            <h4>Food Box</h4>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/packaging2-11109bc94735e8e2f28cef6f2a1f2cf2f8e313e2fbdcbcb361772e4180c10326.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Food Box</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging2-11109bc94735e8e2f28cef6f2a1f2cf2f8e313e2fbdcbcb361772e4180c10326.png" data-gall="portfolioGallery" class="venobox" title="Durian Box 2"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/packaging5-f009689b2d8d9024c2b49188686c2eda95eb7f741c84175f924240b13c50a9be.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Food Box</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging5-f009689b2d8d9024c2b49188686c2eda95eb7f741c84175f924240b13c50a9be.png" data-gall="portfolioGallery" class="venobox" title="Durian Box 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>       

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/packaging3-c9476da39313ae13699074866c96cb2bec4fe6f463c436de4027e4b713185f20.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product Box</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging3-c9476da39313ae13699074866c96cb2bec4fe6f463c436de4027e4b713185f20.png" data-gall="portfolioGallery" class="venobox" title="Box 1"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/packaging4-c743498003de9c7f29b4d099cc4c36ae18f1447592b7317790afc9811f9dcd11.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Test Kit Box</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging4-c743498003de9c7f29b4d099cc4c36ae18f1447592b7317790afc9811f9dcd11.png" data-gall="portfolioGallery" class="venobox" title="Testkit Box 1"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>   


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/packaging6-b5638a7055074e29adc797f41f634a885e5f47c9cbd7f97196670d32d4362cff.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Box Packaging</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging6-b5638a7055074e29adc797f41f634a885e5f47c9cbd7f97196670d32d4362cff.png" data-gall="portfolioGallery" class="venobox" title="Box Packaging 1"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/packaging7-6198160739cf546365334139845be57b26656b6d2b000910e15c32e6e6e20ff2.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Box Packaging</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging7-6198160739cf546365334139845be57b26656b6d2b000910e15c32e6e6e20ff2.png" data-gall="portfolioGallery" class="venobox" title="Box Packaging 2"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/packaging8-32590d35a7dacecec210a0f6adfce578c3293da54b462c0690eca297d457c188.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Box Packaging</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging8-32590d35a7dacecec210a0f6adfce578c3293da54b462c0690eca297d457c188.png" data-gall="portfolioGallery" class="venobox" title="Box Packaging 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/packaging10-73215af177536635838291327fe990f84294284f1cb47f6bc1053270a523d3ae.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Box Packaging</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging10-73215af177536635838291327fe990f84294284f1cb47f6bc1053270a523d3ae.png" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>
 
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/fontpage3-f5a6aee27deff81bd7e85fa5dc21aa453b55e83cfee3a5468733d01b33de0250.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Box Packaging</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/fontpage3-f5a6aee27deff81bd7e85fa5dc21aa453b55e83cfee3a5468733d01b33de0250.png" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/packaging12-68509fe7bf68a45919e80a670154c4108bfbca27b59d653ddf6620a16471ae7a.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Box Packaging</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging12-68509fe7bf68a45919e80a670154c4108bfbca27b59d653ddf6620a16471ae7a.png" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/packaging13-a8d57907daed3aacd7c21e421cdabf5d9d4336a9c5a598ed9c3c64a9489153ad.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Box Packaging</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging13-a8d57907daed3aacd7c21e421cdabf5d9d4336a9c5a598ed9c3c64a9489153ad.png" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/packaging14-6bf00c125b94e9abfd8ed35ed2bc2f89885a9664253d9d276301569a1608b218.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Box Packaging</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging14-6bf00c125b94e9abfd8ed35ed2bc2f89885a9664253d9d276301569a1608b218.png" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/packaging15-90a665b668869d8fbef75dc1cda35462a27405bf27b61c51c33a7f3fe474cd49.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Box Packaging</h4>
                <p>Packaging</p>
                <div class="portfolio-links">
                  <a href="/assets/packaging15-90a665b668869d8fbef75dc1cda35462a27405bf27b61c51c33a7f3fe474cd49.png" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="fa fa-plus"></i></a>
                  <a href="http://wa.me/60162051399?text=Hi, I wish to get quotation for your box packaging." target="_blank"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>
      
        </div>


      </div>
    </section><!-- End Portfolio Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>KANG YEI</h3>
              <p>
                No. 20, kepong, <br>
                 Jalan Metro Perdana<br>
                Timur 10, Taman Usahawan<br> 
                Kepong, 52100 Kuala Lumpur,<br>
                Wilayah Persekutuan Kuala Lumpur<br>
                <strong>Phone:</strong> +6 016-2051399<br>
                <strong>Email:</strong> kangyeidesign@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="tel:60162051399" ><i class="fa fa-phone"></i></a>
                 <a href="http://wa.me/60162051399?text=Hi, I have intention to contact you." target="_blank" class="whatapps"><i class="fa fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/KangYei-Design-100160645238470" target="_blank"  class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Home", welcome_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "About", about_index_path, class: "my-link" %></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Contact", contact_us_path, class: "my-link"%></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Products</h4>
            <ul>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "BUSINESS CARD",  company_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "STICKERS", menu_book_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "PACKAGINGS", menu_book_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "BOOKLETS", menu_book_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "FLYERS & LEAFLETS", company_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "CORPORATES", company_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "STATIONARIES", company_product_index_path, class: "my-link"%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "OFFSET PRINTING", company_product_index_path, class: "my-link"%></li>
            </ul>
          </div>

    <div class="col-lg-3 col-md-6 footer-links">
        <h3 style="color:grey;">ASK US</h3>
        <h5 style="font-weight: 100;">Get the answers to your questions today!</h5>
          <form class="gform pure-form pure-form-stacked" method="POST" data-email="example@email.net"
          action="https://script.google.com/macros/s/AKfycbxHzWZX4Oi1EfMJ9b-TcA15QUlqXoZTEDkLPdxMQ-7VilV9GrGCaQR2lPnbSCcBHvSb/exec">
            <!-- change the form action to your script url -->

            <div class="form-elements form-row align-items-center">
              <fieldset class="pure-group">
                <label class="sr-only" for="email">Email</label>
                <input type="email" class="form-control mb-2" id="email" placeholder="Enter Your Email" name="email" required>
                <span class="email-invalid" style="display:none">
                  Must be a valid email address</span>
                  
                <label class="sr-only" for="message">Message: </label>
                <textarea type="message" class="form-control mb-2" id="message" placeholder="Write To Us..... " name="message" required></textarea>  
              </fieldset>

              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
              </div>
            </div>

            <!-- Customise the Thankyou Message People See when they submit the form: -->
            <div class="thankyou_message" style="display:none;">
              <h4><em>Thanks</em> for contacting us!<br>
                We will get back to you soon!</h4>
            </div>

          </form>
        </div>

        </div>
      </div>
    </div>

  <!-- Submit the Form to Google Using "AJAX" -->
  <script data-cfasync="false" type="text/javascript"
  src="form-submission-handler.js"></script>
<!-- END -->
    <div class="container">
      <div class="copyright">
        &copy;  Copyright  2020   <strong><span>KANG YEI DESIGN & ADVERTISING</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
        Designed by <a>TWEB COMMERCE SERVICES</a>
      </div>
    </div>
  </footer><!-- End Footer -->


   <a href="https://wa.link/4b5i7a"class="back-to-facebook"><img src="/assets/whatapps-e4195645ad2663b61cabc73757cc178e34e5884fb6022a5bd1b936945b18aeb7.png" width="55"></a>
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>



  <!-- Vendor JS Files -->
  <%= javascript_include_tag "jquery.min.js"%>
  <%= javascript_include_tag "bootstrap.bundle.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "form-submission-handler.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "isotope.pkgd.min.js"%>
  <%= javascript_include_tag "venobox.min.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>
  <%= javascript_include_tag "aos.js"%>
  <%= javascript_include_tag "main.js"%>


</body>

</html>

