
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KangYei Design & Advertising</title>
  <meta content="We customize and design the printing service for you. " name="description">
  <meta content="Printing Design, Company Chop, Packaging, Menu, Book, Flyer, Brochure" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

 
  <!-- Vendor CSS Files -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "icofont.min.css" %> 
  <%= stylesheet_link_tag "boxicons.min.css" %> 
  <%= stylesheet_link_tag "animate.min.css" %>
  <%= stylesheet_link_tag "owl.carousel.min.css" %>
  <%= stylesheet_link_tag "venobox.css" %>
  <%= stylesheet_link_tag "aos.css" %>


  <!-- Template Main CSS File -->
  <%= stylesheet_link_tag "style.css" %>

  <!-- =======================================================
  * Template Name: Maxim - v2.2.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  d-flex justify-content-center align-items-center header-transparent">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="#hero"><img src="/assets/logo-1-36fe68a6548204f19c3a44915ccb6e96f3c422cad98604d62443e8487f225ab7.png" class="img-fluid" style="height:70px;" alt=""></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><%= link_to "Home", welcome_index_path%></li>
        <li><%= link_to "About", about_index_path%></li>
        <li class="drop-down"><a class="#portfolio">Product</a>
          <ul>
            <li><%= link_to "Box Packaging", packaging_product_index_path%></li>
            <li><%= link_to "Menu & Book", menu_book_product_index_path%></li>
            <li><%= link_to "Flyer", company_product_index_path%></li>
            <li><%= link_to "Company Folder", company_product_index_path%></li>
            <li><%= link_to "Company Chop", company_product_index_path%></li>
            <li><%= link_to "Annual Report", company_product_index_path%></li>
            <li><%= link_to "Booklet", company_product_index_path%></li>
          </ul>
        <li><%= link_to "Contact", contact_us_path%></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>

  </header><!-- End Header -->



   <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" style=" background: linear-gradient( rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),  url(/assets/aboutus-2f38792267528d16c8de1ad73884c3ec21fa048c17fa48bce2d4b1c065a0f513.png)  no-repeat; background-size: cover; " > 
    <div class="container text-center text-md-left" data-aos="fade-up" >
      <h1>About Us</h1>
      <h2>Kang Yei Design & Advertising</h2>
    </div>
  </section><!-- End Hero -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-6 col-lg-7" data-aos="fade-right">
            <img src="/assets/machine-264fd6e6acb090983317359249777694a315e08ac6d575ce1e4cf49ed70d6371.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Company Reference</h3>
            <p data-aos="fade-up">
              Kangyi Design began in 1996.  Our business has been in operation for more than 23 years. Our place of business is in Kepong. We also conduct business throughout the Klang Valley area.
            </p>
            <p data-aos="fade-up">
              We will customize and design with you according to the items you need and give you a fair price.
            </p>
        </div>

      </div>
    </section><!-- End About Section -->

   <!-- ======= Whu Us Section ======= -->
    <section id="why-us" class="why-us"style=' background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("/assets/buble-fbd1b2622625f05ab7f9c0866691b7ae1d4924440d3380de22aa159e2bb451b9.jpg") center no-repeat; background-size: cover; background-position: center;background-repeat: no-repeat;'>
      <div class="container" >


        <div class="section-title">
          <h2 style="">Why choose <span>Our Company</span></h2>
          <p style="color:white;"></p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>Quality</h4>
              <p>The quality of our products will be considered first to ensure that the customer’s source of goods is good quality. </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>Quantity</h4>
              <p>We have large machines and resources that can cope with excessive production quantities.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4>Service</h4>
              <p>We ensure that our service quality remains good, and provide customers with the most reliable service.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Whu Us Section -->

   <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p> We provide Sticker, Label, Menu, Books, Magazines, Calendar, Name Card, Box Packaging, Banner and more printing services.</h4></p>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="fa fa-sticky-note-o"></i></div>
              <h4 class="title"><a href="">Sticker & Label </a></h4>
              <p class="description">Product Sticker <br> Interior Sticker <br> Car Sticker <br></p>
              &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
              </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="fa fa-book"></i></div>
              <h4 class="title"><a href="">Menu, Book & Magazines</a></h4>
              <p class="description">Book Series <br> Bill Receipt Series <br> Menu Series <br> Note Series <br> Newspaper Series<br></p>
            &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="fa fa-dropbox"></i></div>
              <h4 class="title"><a href="">  Box Packaging </a></h4>
              <p class="description">All in One Box <br> Cosmetic Makeup <br> Clothing Wear <br> Food Box</p>
            &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="fa fa-calendar"></i></div>
              <h4 class="title"><a href="">Calendar, Name Card, and other printing services</a></h4>
              <p class="description">Wall Calendar <br> Table Calendar <br> Pocket Calendar <br> Standard Business Card <br> Premium Business Card</p>
            &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>KANG YEI</h3>
              <p>
                No. 20, kepong, <br>
                 Jalan Metro Perdana<br>
                Timur 10, Taman Usahawan<br> 
                Kepong, 52100 Kuala Lumpur,<br>
                Wilayah Persekutuan Kuala Lumpur<br>
                <strong>Phone:</strong> +6 016-2051399<br>
                <strong>Email:</strong> kangyeidesign@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="http://wa.me/60162051399?text=Hi, I have intention to contact you." target="_blank"><i class="fa fa-phone"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Home", welcome_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "About", welcome_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Contact", welcome_index_path%></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Box Packaging",  packaging_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Menu", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Book", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Magazine", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Company Folder", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Flyer", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Company Chop", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Annual Report", menu_book_product_index_path%></li>
              <li title="More Details"><i class="fa fa-chevron-right"></i><%= link_to "Booklet", menu_book_product_index_path%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy;  Copyright  2020   <strong><span>KANG YEI DESIGN & ADVERTISING</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">TWEB COMMERCE SERVICES</a>
      </div>
    </div>
  </footer><!-- End Footer -->
      <!-- Vendor JS Files -->
  <%= javascript_include_tag "jquery.min.js"%>
  <%= javascript_include_tag "bootstrap.bundle.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "isotope.pkgd.min.js"%>
  <%= javascript_include_tag "venobox.min.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>
  <%= javascript_include_tag "aos.js"%>
  <%= javascript_include_tag "main.js"%>

</body>

</html>

